@import './fonts.scss';

$Primary-white: #f5f5f5; //ToBeDetermined
$Accent-Blue: #61dafbaa; //ToBeDetermined

$Poppins: 'Poppins, sans-serif';

.dark-mode {
    $Primary-white: #333; //ToBeDetermined
}